<mat-toolbar color="primary">
  <h1>
    <a mat-button class="appName" routerLink="/">Post-It</a>
  </h1>
  <button mat-icon-button (click)="like()">
    <mat-icon [matBadge]="likes" matBadgePosition="above after" matBadgeColor="accent" matBadgeOverlap="false">
      thumb_up
    </mat-icon>
  </button>
  <span class="fill-remaining-space"></span>
  <mat-progress-spinner *ngIf="loading" mode="indeterminate" color="accent" diameter="40">
  </mat-progress-spinner>
</mat-toolbar>

<router-outlet *ngIf="availableApp"></router-outlet>

<div *ngIf="!availableApp" class="unavailableApp" i18n>
  Application Unavailable
</div>