<mat-toolbar color="primary">
  <h1 class="appName">Post-It</h1>
  <button mat-icon-button (click)="like()">
    <mat-icon [matBadge]="likes" matBadgePosition="above after" matBadgeColor="accent" matBadgeOverlap="false">
      thumb_up
    </mat-icon>
  </button>
  <span class="fill-remaining-space"></span>
  <mat-progress-spinner *ngIf="loading" mode="indeterminate" color="accent" diameter="40">
  </mat-progress-spinner>
</mat-toolbar>

<app-board *ngIf="availableApp"></app-board>

<div *ngIf="!availableApp" class="unavailableApp" i18n>
  Application Unavailable
</div>