@use 'src/global.scss' as global;

.login {
  min-width: 300px;
  width: 50%;
  max-width: 600px;
  margin: auto;

  .loginCardContent,
  .logoutCardContent {
    padding: global.$margin-large;
  }

  .loginForm {
    padding: global.$margin-large;
    display: flex;
    flex-direction: column;
    text-align: center;

    & > * {
      margin: global.$margin-base;
    }

    .buttonZone button {
      width: 50%;
    }
  }

  .alreadyConnected {
    text-align: center;
    font-size: 105%;
    button {
      margin-top: global.$margin-very-large;
    }
  }

  .help {
    margin-top: global.$margin-large;
    text-align: center;
  }
}
