<h2 mat-dialog-title i18n="@@note.editNote">Edit Note</h2>

<mat-dialog-content>
  @if (editedNote) {
    <mat-form-field class="formField">
      <input
        type="text"
        matInput
        placeholder="Title"
        aria-label="title"
        i18n-placeholder="@@note.placeholder.title"
        [(ngModel)]="editedNote.name"
      />
    </mat-form-field>

    <mat-form-field class="formField">
      <textarea
        matInput
        placeholder="Message"
        aria-label="message"
        i18n-placeholder="@@note.placeeholder.message"
        [(ngModel)]="editedNote.text"
      ></textarea>
    </mat-form-field>
  }
</mat-dialog-content>

<mat-dialog-actions align="end">
  <div class="buttonCenter">
    <button matButton mat-dialog-close i18n="@@generic.cancel">Cancel</button>
    <button (click)="saveEdit()" matButton cdkFocusInitial i18n="@@generic.save">Save</button>
  </div>
</mat-dialog-actions>
