@import "../../global.scss";

.tabTitle {
    font-size: $font-boost-base;
}

.menuIcon {
    margin-right: $margin-small;
}

.mat-tab-labels {
    background-color: white;
}

.cardBoard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    padding: $margin-base;

    .cardAdd {
        width: 200px;
        margin: $margin-small;
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        border: none;
        background-color: transparent;
        box-shadow: none;
    }
}

