<div class="cardBoard">
  @if (noteDraggable()) {
    @for (note of noteList(); track note.id) {
      <app-board-note
        [note]="note"
        [otherBoardList]="otherBoardList()"
        (deleteNote)="refreshCurrentBoard()"
        (changeNote)="refreshCurrentBoard()"
        (orderNote)="reorderBoard()"
        (moveNote)="moveNote($event)"
        cdkDrag
        [cdkDragData]="note"
        class="noteDraggable"
      />
    }
  } @else {
    @for (note of noteList(); track note.id) {
      <app-board-note
        [note]="note"
        [otherBoardList]="otherBoardList()"
        (deleteNote)="refreshCurrentBoard()"
        (changeNote)="refreshCurrentBoard()"
        (orderNote)="reorderBoard()"
        (moveNote)="moveNote($event)"
      />
    }
  }

  <mat-card class="cardButtons">
    <mat-card-content>
      <div class="buttonCard">
        @if (isLoading()) {
          <mat-spinner class="mat-neutral spinnerLoading" diameter="24" />
        } @else {
          <button
            data-testid="refreshBtn"
            matIconButton
            title="Refresh board"
            i18n-title="@@board.refreshBoard"
            [disabled]="isLoading()"
            (click)="refreshCurrentBoard()"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        }

        @if (parameterNoteMax() && parameterNoteMax() > noteList().length) {
          <button data-testid="addBtn" matButton="elevated" appHighlight [disabled]="isLoading()" (click)="addNote()">
            <ng-container i18n="@@board.addNote">Add a note</ng-container>
          </button>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
