<div class="cardBoard">
  @if (noteDraggable()) {
    @for (note of noteList(); track note.id) {
      <app-board-note
        [note]="note"
        [otherBoardList]="otherBoardList()"
        (deleteNote)="refreshCurrentBoard()"
        (changeNote)="refreshCurrentBoard()"
        (orderNote)="reorderBoard($event)"
        (moveNote)="moveNote($event)"
        cdkDrag
        [cdkDragData]="note"
        class="noteDraggable"
      />
    }
  } @else {
    @for (note of noteList(); track note.id) {
      <app-board-note
        [note]="note"
        [otherBoardList]="otherBoardList()"
        (deleteNote)="refreshCurrentBoard()"
        (changeNote)="refreshCurrentBoard()"
        (orderNote)="reorderBoard($event)"
        (moveNote)="moveNote($event)"
      />
    }
  }

  <mat-card class="cardButtons">
    <mat-card-content>
      <div class="buttonCard">
        <button (click)="refreshCurrentBoard()" matIconButton title="Refresh board" i18n-title="@@board.refreshBoard">
          <mat-icon>refresh</mat-icon>
        </button>

        @if (parameterNoteMax() && parameterNoteMax() > noteList().length) {
          <button (click)="addNote()" matButton="elevated" appHighlight i18n="@@board.addNote">Add a note</button>
        }
      </div>
    </mat-card-content>
  </mat-card>
</div>
