<div class="board">
  <div class="changeDisplayMenu">
    <button
      class="mat-tertiary"
      matButton="tonal"
      (click)="openChangeView()"
      title="Change boards view"
      i18n-title="@@board.changeBoardsView"
    >
      <mat-icon>view_list</mat-icon> &nbsp;
      <ng-container i18n="@@board.changeView">Change view</ng-container>
    </button>
  </div>

  @switch (activeView()) {
    <!-- Panels View -->
    @case ('panels') {
      <mat-accordion multi="true" togglePosition="before">
        @for (board of boardList(); track board.id) {
          <mat-expansion-panel (opened)="loadNoteList(board.id)">
            <mat-expansion-panel-header>
              <span class="boardTitle">
                {{ board.name }}
              </span>
            </mat-expansion-panel-header>
            @if (board.id) {
              <app-board-panel
                [board]="board"
                [isLoading]="getIsBoardLoading(board.id)"
                [noteList]="getNoteList(board.id)"
                [otherBoardList]="getOtherBoardList(board.id)"
                [parameterNoteMax]="parameterNoteMax()"
                (askRefreshBoard)="loadNoteList($event)"
              />
            }
          </mat-expansion-panel>
        }
      </mat-accordion>
    }

    <!-- Table View-->
    @case ('table') {
      <div class="flexTable" cdkDropListGroup>
        @for (board of boardList(); track board.id) {
          <div class="flexPanel">
            <div cdkDropList [cdkDropListData]="board" (cdkDropListDropped)="dropNote($event)">
              <div class="boardTitle">{{ board.name }}</div>
              @if (board.id) {
                <app-board-panel
                  [board]="board"
                  [isLoading]="getIsBoardLoading(board.id)"
                  [noteList]="getNoteList(board.id)"
                  [otherBoardList]="getOtherBoardList(board.id)"
                  [parameterNoteMax]="parameterNoteMax()"
                  (askRefreshBoard)="loadNoteList($event)"
                  [noteDraggable]="true"
                />
              }
            </div>
          </div>
        }
      </div>
    }

    <!-- Tabs View (default) -->
    @default {
      <mat-tab-group mat-stretch-tabs [(selectedIndex)]="selectedIndex" (selectedTabChange)="changeTabBoard($event)">
        @for (board of boardList(); track board.id) {
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="boardTitle">
                {{ board.name }}
              </span>
            </ng-template>

            <ng-template matTabContent>
              @if (board.id) {
                <app-board-panel
                  [board]="board"
                  [isLoading]="getIsBoardLoading(board.id)"
                  [noteList]="getNoteList(board.id)"
                  [otherBoardList]="getOtherBoardList(board.id)"
                  [parameterNoteMax]="parameterNoteMax()"
                  (askRefreshBoard)="loadNoteList($event)"
                />
              }
            </ng-template>
          </mat-tab>
        }
      </mat-tab-group>
    }
  }
</div>
