@use 'src/global.scss' as global;

.board {
  .changeDisplayMenu {
    display: flex;
    position: absolute;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
    height: 64px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .boardTitle {
    font-size: global.$font-boost-base;
  }

  ::ng-deep {
    // Tabs
    .mat-mdc-tab-labels {
      background-color: white;
    }

    // Panels
    .mat-expansion-panel {
      background: transparent;
      margin: global.$margin-base;
    }
    .mat-expansion-panel-header,
    .mat-expansion-panel-content-wrapper {
      background: white !important;
    }
  }

  // Table
  .flexTable {
    display: flex;
    margin: global.$margin-base;
    justify-content: center;
    flex-wrap: wrap;
    .flexPanel {
      width: 450px;
      .boardTitle {
        text-align: center;
      }
    }
  }
}
