<h2 mat-dialog-title i18n="@@note.changeColor">Change Color</h2>

<mat-dialog-content class="buttonList">
  <button (click)="chooseColor('white')" mat-fab class="white" i18n="@@color.white">White</button>
  <button (click)="chooseColor('yellow')" mat-fab class="yellow" i18n="@@color.yellow">Yellow</button>
  <button (click)="chooseColor('orange')" mat-fab class="orange" i18n="@@color.orange">Orange</button>
  <button (click)="chooseColor('blue')" mat-fab class="blue" i18n="@@color.blue">Blue</button>
  <button (click)="chooseColor('green')" mat-fab class="green" i18n="@@color.green">Green</button>
  <button (click)="chooseColor('pink')" mat-fab class="pink" i18n="@@color.pink">Pink</button>
</mat-dialog-content>
