<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content class="confirmDialog">
  <p>
    {{ data.message }}
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button matButton mat-dialog-close>
    @if (data.cancel) {
      {{ data.cancel }}
    } @else {
      <ng-container i18n="@@generic.cancel">Cancel</ng-container>
    }
  </button>
  <button matButton [mat-dialog-close]="true" cdkFocusInitial>
    @if (data.confirm) {
      {{ data.confirm }}
    } @else {
      <ng-container i18n="@@generic.confirm">Confirm</ng-container>
    }
  </button>
</mat-dialog-actions>
