@use '@angular/material' as mat;
@use './global.scss' as global;
@use './matcolor.scss';

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$violet-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  margin: 0;
  height: 100%;

  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  color: global.$color-default-text;

  background-color: #fafdfd;
  background-image: url('/img/background.png');
  background-repeat: repeat;
  min-width: 400px;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

// Alert SnackBar
.alertSuccess .mat-mdc-snack-bar-label {
  color: #adff2f;
}
.alertInfo .mat-mdc-snack-bar-label {
  color: #afeeee;
}
.alertWarning .mat-mdc-snack-bar-label {
  color: #ffa500;
}
.alertDanger .mat-mdc-snack-bar-label {
  color: #f44336;
}
