@use 'src/global.scss' as global;

.indication {
  font-style: italic;
  font-size: global.$font-default-size;
  margin-left: global.$margin-small;
}

.viewSelected {
  ::ng-deep {
    .mat-mdc-list-item-unscoped-content {
      font-weight: 500;
    }
  }
}

.mat-divider {
  margin: global.$margin-small 0;
}
