<mat-nav-list>
  <a mat-list-item [routerLink]="['board']" (click)="openLink()" [ngClass]="getDynamicClass('tabs')">
    <span class="title" i18n="@@view.tabs.title">Tabs</span>
    <span class="indication" i18n="@@view.tabs.indication"
      >individually display with a tab for each board (default)</span
    >
  </a>

  <mat-divider></mat-divider>

  <a
    mat-list-item
    [routerLink]="['board', { view: 'panels' }]"
    (click)="openLink()"
    [ngClass]="getDynamicClass('panels')"
  >
    <span class="title" i18n="@@view.panels.title">Panels</span>
    <span class="indication" i18n="@@view.panels.indication"
      >each board in a panel which can be displayed or hidden</span
    >
  </a>

  <mat-divider></mat-divider>

  <a
    mat-list-item
    [routerLink]="['board', { view: 'table' }]"
    (click)="openLink()"
    [ngClass]="getDynamicClass('table')"
  >
    <span class="title" i18n="@@view.table.title">Table</span>
    <span class="indication" i18n="@@view.table.indication">all boards in column (support drag and drop)</span>
  </a>
</mat-nav-list>
