@use 'src/global.scss' as global;

.card {
  width: 400px;
  margin: global.$margin-small;
  transition: height 1s;

  .titleCard {
    font-size: global.$font-boost-small;
  }
  .text {
    white-space: pre-wrap;
  }
  .buttonRightContainer {
    flex: 1;
    text-align: right;
  }

  .downloadBtn {
    background-color: #ffffff60;
  }

  .editBtn {
    color: global.$color-default-text;
  }

  &.white {
    background-color: global.$color-white-postit;
  }
  &.yellow {
    background-color: global.$color-yellow-postit;
  }
  &.orange {
    background-color: global.$color-orange-postit;
  }
  &.blue {
    background-color: global.$color-blue-postit;
  }
  &.green {
    background-color: global.$color-green-postit;
  }
  &.pink {
    background-color: global.$color-pink-postit;
  }
}
