<mat-card class="card" [ngClass]="colorClass()" appHighlight>
  <mat-card-header>
    <mat-card-title class="titleCard">
      {{ validNote().name }}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content (dblclick)="edit()">
    <p class="text">{{ validNote().text }}</p>
  </mat-card-content>

  <mat-card-actions>
    <button (click)="changeOrder(-1)" data-testid="moveUpBtn" matIconButton title="Move up" i18n-title="@@note.moveUp">
      <mat-icon>arrow_upward</mat-icon>
    </button>
    <button
      (click)="changeOrder(1)"
      data-testid="moveDownBtn"
      matIconButton
      title="Move down"
      i18n-title="@@note.moveDown"
    >
      <mat-icon>arrow_downward</mat-icon>
    </button>

    <button
      data-testid="moveBoardBtn"
      matIconButton
      [matMenuTriggerFor]="boardMenu"
      title="Move to another board"
      i18n-title="@@note.moveToAnotherBoard"
    >
      <mat-icon>forward</mat-icon>
    </button>
    <mat-menu #boardMenu="matMenu">
      @for (board of otherBoardList(); track board.id) {
        <button data-testid="moveBoardNameBtn" (click)="changeToBoard(board)">
          {{ board.name }}
        </button>
      }
    </mat-menu>

    <button
      class="editBtn"
      (click)="edit()"
      matButton
      title="Edit content"
      i18n-title="@@note.edit.title"
      i18n="@@note.edit.label"
    >
      EDIT
    </button>

    <button
      data-testid="changeColorBtn"
      (click)="changeColor()"
      matIconButton
      title="Change Color"
      i18n-title="@@note.changeColor"
    >
      <mat-icon>colorize</mat-icon>
    </button>

    @if (validNote().attachedFile) {
      <button
        class="downloadBtn"
        (click)="viewAttachedFile()"
        matIconButton
        title="View the attachment"
        i18n-title="@@note.viewTheAttachment"
      >
        <mat-icon>cloud_download</mat-icon>
      </button>
    } @else {
      <input
        #inputFile
        hidden="true"
        type="file"
        onclick="this.value = null"
        (change)="uploadFile($event.target)"
        title="hidden upload"
      />
      <button
        (click)="inputFile.click()"
        data-testid="uploadFileBtn"
        matIconButton
        title="Upload an attachment"
        i18n-title="@@note.uploadAttachment"
      >
        <mat-icon>cloud_upload</mat-icon>
      </button>
    }

    <div class="buttonRightContainer">
      <button
        (click)="deleteNoteAfterConfirm()"
        data-testid="deleteBtn"
        matIconButton
        title="Delete"
        i18n-title="@@generic.delete"
      >
        <mat-icon>delete_outline</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
