@import "../../../global.scss";

.boardSettings {

    .myTable {
        min-width: 400px;
        width: 80%;
        margin: auto;
        .mat-table {
            width: 100%;
        }
    }

    .paddingTd {
        padding-top: $margin-base;
        padding-right: $margin-base;
    }

    .mat-form-field {
        width: 100%;
    }

    .alignRight {
        text-align: right;
    }

    .actionCell {
        width: 200px;
        .actionZone {
            button {
                margin: 0 $margin-small;
            }
        }
    }

    .creationZone {
        margin-top: $margin-base;
        text-align: center;
    }

}