<h2 mat-dialog-title i18n="@@file.attachment">Attachment</h2>

<mat-dialog-content class="content">
  <strong>{{ attachedFile.filename }}</strong>
  <div class="descriptionFile">
    @if (attachedFile.size) {
      {{ attachedFile.size / 1000 }} ko
    }
    <small>({{ attachedFile.type }})</small>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    class="deleteBtn"
    (click)="deleteFile()"
    matIconButton
    title="Delete the attachment"
    i18n-title="@@file.deleteTheAttachment"
  >
    <mat-icon>delete</mat-icon>
  </button>

  <div class="fill-remaining-space buttonRight">
    <button
      (click)="download()"
      data-testid="downloadBtn"
      matButton
      i18n-title="@@file.download.title"
      title="Download file"
      cdkFocusInitial
      i18n="@@file.download.label"
    >
      DOWNLOAD
    </button>
  </div>
</mat-dialog-actions>
