<div class="boardSettings">
  <div class="mat-elevation-z2 myTable">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th scope="col" mat-header-cell *matHeaderCellDef i18n="@@boardSettings.id">Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th scope="col" mat-header-cell *matHeaderCellDef i18n="@@boardSettings.name">Name</th>
        <td mat-cell *matCellDef="let element" class="paddingTd">
          <mat-form-field>
            <input type="text" matInput placeholder="Name" i18n-placeholder [(ngModel)]="element.name" required />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="order">
        <th scope="col" mat-header-cell *matHeaderCellDef i18n="@@boardSettings.order">Order</th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field>
            <input
              type="number"
              min="0"
              max="100"
              matInput
              placeholder="Order"
              i18n-placeholder="@@boardSettings.order"
              [(ngModel)]="element.orderNum"
              required
            />
          </mat-form-field>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th scope="col" mat-header-cell *matHeaderCellDef i18n="@@boardSettings.actions">Actions</th>
        <td mat-cell *matCellDef="let element" class="actionCell">
          <div class="actionZone">
            <button
              data-testid="saveBtn"
              [disabled]="!isValidForSave(element)"
              matButton="elevated"
              (click)="saveBoard(element)"
            >
              <ng-container i18n="@@generic.save">Save</ng-container>
            </button>
            <button data-testid="deleteBtn" class="mat-warn" matButton="elevated" (click)="deleteBoard(element)">
              <ng-container i18n="@@generic.delete">Delete</ng-container>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <div class="creationZone">
    <button data-testid="createBtn" matButton="elevated" i18n="@@boardSettings.createBoard" (click)="createBoard()">
      Create board
    </button>
  </div>
</div>
